body{
  overflow: hidden;
  }

  .main{
  display: flex;
  flex-direction: row;
}
.logo{
  position: relative; 
  margin-top: 3rem;
  margin-left: 5rem;
  width: 4rem; 
  height: 4rem; 
  border-radius: 4px; 
}
.inputs{
  display: block;
}
.form-fields{
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 5rem;
  width: 50%;
}
.signIn{

    font-family: Arial, Helvetica, sans-serif; 
    font-size: 32px; 
    line-height: 48px; 
    color: #171A1FFF; 
    margin-left: 200px;
}
.form-inp{
  width: 30rem; 
  height: 3rem; 
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem; 
  padding-right:1.5rem; 
  font-family: Inter; 
  font-size: 1rem; 
  background: #F3F4F6FF; 
  border-radius: 6px; 
  border-width: 0px; 
  outline: none; 
 opacity: 1; 
}
/* signin-btn1937 */
.signin-btn{
   width: 30rem; 
  height: 3rem; 
  margin-left: 25px;
  padding: 0 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 16px; 
  line-height: 26px; 
  color: #FFFFFFFF; 
  background: #171A1FFF; 
  opacity: 1; 
  border: none; 
  border-radius: 6px; 
  box-shadow: 0px 8px 17px #000000, 0px 0px 2px #000000; 
}
/* Hover */
.signin-btn:hover {
  color: #FFFFFFFF; 
  background: #262A33FF; 
}
/* Pressed */
.signin-btn:hover:active {
  color: #FFFFFFFF; 
  background: #323842FF; 
}
/* Disabled */
.signin-btn:disabled {
  opacity: 0.4; 
}
.main-cnt{
  background-color: #5E65C4FF;  
  height: 100vh;
  margin-top: -130px;
  height: 100vh;
  width: 60%;
}
.container{
  /* position: fixed; */
  margin-top: 5rem;
  /* background-color: #5E65C4FF; */
  margin-left: 20px;
    height: 100vh;
  margin-right: -20px;
}
.tags{
  display: none;
}
.ss-heading{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 20px; 
  line-height: 30px; 
  color: #FFFFFFFF; 
  text-align: right;
  margin-right: 80px;
  margin-top: -30px;

}
.beta{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  line-height: 22px; 
  color: #FFFFFFFF;
  text-align: right;
  margin-right: 80px;
}
.heading{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 32px; 
  line-height: 48px; 
  color: white; 
  text-align: center;
  margin-bottom: 80px;
}
.calculator-btn{
  margin-left: 12rem;
  margin-top: 3rem;
  width: 20rem; 
  height: 3.5rem; 
  padding: 0 1.5rem;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 18px; 
  line-height: 28px; 
  color: #0A4D20FF; 
  background: #1DD75BFF; 
  opacity: 1; 
  border: none; 
  border-radius: 6px; 
  font-family: Arial, Helvetica, sans-serif;
}
.calculator-btn:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
}
.box{
display: flex;
margin-top: 45px;
}
.box-1{
  width: 48px; 
  height: 62px; 
  margin-top: 5px;
  margin-left: 70px;
  margin-bottom: 5px;
  background: #B8F5CDFF; 
  border-radius: 4px 0px 0px 4px; 
}
.box-2{
  width: 70%;
  margin-left: 1px;
  margin-top: 5px;
  height: 62px;
   background: #FFFFFFFF; 
  border-radius: 0px 2px 2px 0px; 
  box-shadow: 0px 2px 2px gray, 0px 0px 2px gray;
}
.icon {
  margin-left: 7px;
  margin-top: 14px;
   }
.para{
  margin-top: 0px;
  width: 40rem;
  margin-left: 10px; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 16px; 
  line-height: 28px; 
  color: #171A1FFF;
}

.popup{

  position: absolute; 
  top: 278px; 
  left: 390px; 
  width: 560px; 
  height: 214px; 
  background: #FFFFFFFF; 
  border-radius: 6px; 
  box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f; 
}
.popupText{
     position: absolute; 
    top: 72px; 
    left: 24px; 
    width: 512px; 
    font-family: Inter; 
    font-size: 14px; 
    line-height: 22px; 
    color: #171A1FFF; 
  }
  .popup-btn{
    /* Button 1939 */
 position: absolute; 
  top: 154px; 
  left: 462px; 
  width: 74px; 
  height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  line-height: 22px; 
  color: #FFFFFFFF; 
  background: #00BDD6FF; 
  opacity: 1; 
  border: none; 
  border-radius: 4px; 
}
/* Hover */
.popup-btn:hover {
  color: #FFFFFFFF; 
  background: #00A9C0FF; 
}
/* Pressed */
.popup-btn:hover:active {
  color: #FFFFFFFF; 
  background: #0095A9FF; 
}
/* Disabled */
.popup-btn:disabled {
  opacity: 0.4; 
  }
  .hidden:after {
       background-color: rgba(0,0,0,0.5);
    z-index: 9998;
    color: #ffffff;
  }
  /* Styles for desktop */
.element {
  font-size: 20px;
  color: red;
}
.calculator-btn-2{
  display: none;
}
/* Styles for mobile */
@media (max-width: 768px) {
  .container{
  display: none;
  }
  .main-cnt{
    display: none;
  }
  .tags{
    margin-top: -40px;
    display: block;
    text-align: right;
  }
  .ss-heading-2{
    color: black;
  }
  .beta-2{
    color: black;
  }
  .logo{
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .form-fields{
    margin-top: 3rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .form-inp{
    width: 17rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
  .ss-heading-2{
    /* text-align: left; */
    font-size: 10px;
  }
  .beta-2{
    /* text-align: left; */
    font-size: 10px;
  }
  .signIn{
    margin-left: 120px;
    margin-right: -50px;
  }
  .signin-btn{
    width: 20rem;
    margin-left: 1.5rem;
  }
  .calculator-btn-2{
    display: block;
    margin-left: 1.5rem;
    margin-top: 3rem;
    width: 20rem; 
    height: 3.5rem; 
    padding: 0 1.5rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Inter; 
    font-size: 18px; 
    line-height: 28px; 
    color: #0A4D20FF; 
    background: #1DD75BFF; 
    opacity: 1; 
    border: none; 
    border-radius: 6px; 
    font-family: Arial, Helvetica, sans-serif;
  }
  .popup{

    position: absolute; 
    top: 100px; 
    left: 30px; 
    width: 300px; 
    height: 200px; 
    background: #FFFFFFFF; 
    border-radius: 6px; 
    box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f; 
  }
  .popupText{
       position: absolute; 
      top: 10px; 
      left: 24px; 
      width: 280px; 
      font-family: Arial, Helvetica, sans-serif; 
      font-size: 14px; 
      line-height: 22px; 
      color: #171A1FFF; 
    }
    .popup-btn{
      /* Button 1939 */
   position: absolute; 
    top: 0x; 
    left: 200px; 
    width: 74px; 
    height: 36px; 
    padding: 0 12px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    line-height: 22px; 
    color: #FFFFFFFF; 
    background: #00BDD6FF; 
    opacity: 1; 
    border: none; 
    border-radius: 4px; 
  }
  /* Hover */
  .popup-btn:hover {
    color: #FFFFFFFF; 
    background: #00A9C0FF; 
  }
  /* Pressed */
  .popup-btn:hover:active {
    color: #FFFFFFFF; 
    background: #0095A9FF; 
  }
  /* Disabled */
  .popup-btn:disabled {
    opacity: 0.4; 
    }
}
